.site-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.books-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    margin: 80px 40px;
}
.cart-container{
    background-color:rgba(128, 128, 128, 0.103);
    height: 450px;
    margin-top: 50px;
    margin-right: 20px;
}
@media only screen and (max-width: 600px) {

    .books-container{
        grid-template-columns:repeat(1,1fr) ;
    }
}